{% extends "template.html" %}
{% load static %}

{% block title %}    <title>ChampsDetec</title> {% endblock %}

{% block content %}
    <!-- Header -->
    <header class="mastheadA">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Analyser</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Un outil pour
                    détecter
                    et évaluer les produits indésirables de vos plantations</h2>
                <a href="#projects" class="btn btn-primary js-scroll-trigger">Analyser
                    une image</a>
            </div>
        </div>
    </header>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div class="container">

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <p>
                    Bienvenue sur la page d'utilisation du logiciel !
                    Vous pouvez obtenir le taux d'anomalies sur une photo que
                    vous
                    importez.
                </p>
                <form enctype="multipart/form-data"
                      action="{% url 'user:index' %}" method="post">
                    <!-- csrf_token -->
                    {% if form %}
                        <p>Sélectionnez le type d'image que vous souhaitez
                            analyser
                            : </p>
                        {{ form.select }}
                        <br/>
                        <br/>
                        <p>Sélectionnez le format de l'image à analyser : </p>
                        {{ form.type_of_picture }}
                        <br/>
                        <br/>
                        <p>
                            Si vous avez choisi une image hyperscpetrale,
                            importez
                            le dossier contenant les images .tiff,
                            au format .zip.
                            Si vous avez choisi une image au format PNG;
                            importez
                            l'image.
                        </p>
                        {{ form.img_folder }}
                        <br/>
                        <br/>
                        <br/>
                        <input class="btn btn-primary" type="submit"
                               value="Submit">
                    {% endif %}
                </form>
                {% if not form %}
                    <p>
                        Le taux d'anomalie obtenu pour l'image que vous avez
                        importée est de :
                        {{ rate }} %.
                    </p>
                    <img src="{% static img %}"
                         width="70%"
                         style="position: relative; margin: auto;">
                {% endif %}
            </div>

        </div>
    </section>
{% endblock %}