{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>


    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}"
          rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel=" stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static "css/grayscale.min.css" %}" rel="stylesheet"/>
    <title>Title of document</title>
    <script type="text/javascript">
	var ff_image_url;
	var ff_callback_url;
	var ff_cancel_url;
	var ff_lang;

	function ff_setup(img_src){
		ff_image_url = img_src;
        // callback for saving changes
		ff_callback_url = "http://localhost:8080/user/save_image/";
        // callback for cancel actions
		ff_cancel_url = "http://localhost:8080/";
		ff_lang = "en-US";
		ff_activate();
	}
	</script>

	<script type="text/javascript"
		src="http://fotoflexer.com/API/ff_api_v1_01.js">
	</script>

</head>

<body id="page-top">
    <img src="{% static "img/bg-masthead.jpg" %}"
	    id="{% static "img/bg-masthead.jpg" %}"
	    onclick="ff_setup(this.id)" />

	<!-- plain -->
	<img src="http://www.yourpage.com/image.jpg" onclick="ff_setup(this.src)" />

</body>

</html>
