{% extends "template.html" %}
{% load static %}

{% block title %}    <title>ChampsDetec</title> {% endblock %}
<!-- Header -->

{% block content %}
<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">ChampsDetect, une solution
                    automatisée pour particuliers et experts</h2>
            </div>
        </div>
    </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">
        <center>
            <iframe src="/expert/expert" width="580px" height="620px"></iframe>
            <br>
            <a href="/home" class="btn btn-primary js-scroll-trigger">Confirmer la selection</a>
        </center>
    </div>
</section>
{% endblock %}
